{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="carousel-inner mb-5">
      <div class="carousel-item active" id="img-container">
        <img src="static\img\aboutUs.png" alt="About Us" class="header-img">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>About Us</h1>
            <p>How long do you have?</p>
          </div>
        </div>
      </div>
    </div>


  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <h2 class="d-flex justify-content-center mb-5"><strong>Our Vision</strong></h2>
      <div class="col-lg-4">
        <img src="static\img\dealBs.svg" alt="Deal with BS" width="70%">
        <h2 class="fw-normal">Deal with the BS!</h2>
        <p>You focus on what you are passionate about! We make sure you are on the right track and the right set of tools.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="static\img\improve.svg" alt="Always improve" width="70%">
        <h2 class="fw-normal">Always Improve</h2>
        <p>We strive to provide high quality advice. That involves us improving and getting you that competitive edge.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="static\img\process.svg" alt="Enjoy the process" width="70%">
        <h2 class="fw-normal">Enjoy the process</h2>
        <p>It's not all doom and gloom when it comes to business. we are here to make the process more enjoyable and easier for you!</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Expert advice</h2>
          <p class="lead">
            With over a decade of experience in Accounting & Tax, we can service customers big and small.
            Does not matter your background, we can assist you in maximising your tax return.
          </p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Variety of Services</h2>
          <h3 class="text-body-secondary">We aren't a one trick pony</h3>
          <p class="lead">
              Whether you are trying to deal with your tax returns, need some new IT hardware or want someone to take care of it all.
              We have you covered, we are interested in maximising our expertise in various services to let you focus on what you are passionate about.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
        </div>
      </div>
  
      <hr class="featurette-divider"> 
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->

    <div class="my-5">
      <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5">
          <h1 class="text-body-emphasis">What are you waiting for?</h1>
          <p class="col-lg-8 mx-auto lead">
            Do not wait to get to get your taxes in order!
          </p>
          <button class="btn btn-success">Contact Us</button>
        </div>
      </div>
    </div>

<!-- Look at including contact page rather than copy and pasting each page -->

{% endblock %}