<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="static\img\logo-icon.png">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css')  }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')  }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')  }}">
        
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="static\img\logo.svg" alt="Nxt Services" width="225">
              </a>
        
              <ul class="nav">
                <li class="nav-item"><a href="{{  url_for('index')  }}" class="btn btn-light">Home</a></li>
                <div class="dropdown">
                  <button onclick="dropdown()" class="dropbtn btn btn-light dropdown-toggle">Tax & Accounting</button>
                  <div id="myDropdown" class="dropdown-content rounded-4">
                    <a href="{{  url_for('personal')  }}" class="rounded-4">Personal Tax</a>
                    <a href="{{  url_for('business')  }}" class="rounded-4">Business Tax</a>
                    <a href="#" class="rounded-4">Business Accounting</a>
                  </div>
                </div>
                <div class="dropdown">
                  <button onclick="busServices()" class="dropbtn btn btn-light dropdown-toggle">Business Services</button>
                  <div id="myDropdown1" class="dropdown-content rounded-4">
                    <a href="{{  url_for('building')  }}" class="rounded-4">Web Development</a>
                    <a href="#" class="rounded-4">IT Consulting</a>
                    <a href="#" class="rounded-4">IT Procurement</a>
                    <a href="#" class="rounded-4">Graphic Design</a>
                    <a href="#" class="rounded-4">Social Media Marketing</a>
                    <a href="#" class="rounded-4">Signage & Print Media</a>
                  </div>
                </div>
                <li class="nav-item"><a href="{{  url_for('aboutUs')  }}" class="btn btn-light">About</a></li>
                <li class="nav-item"><a href="{{  url_for('contactUs')  }}" class="btn btn-light">Contact Us</a></li>
              </ul>
            </header>
          </div>
            
        {% block content %} {% endblock %}
        
        <div class="container">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{{  url_for('index')  }}" class="btn btn-light">Home</a></li>
                <li class="nav-item"><a href="{{  url_for('personal')  }}" class="btn btn-light">Personal Tax</a></li>
                <li class="nav-item"><a href="{{  url_for('business')  }}" class="btn btn-light">Business Tax</a></li>
                <li class="nav-item"><a href="{{  url_for('aboutUs')  }}" class="btn btn-light">About</a></li>
                <li class="nav-item"><a href="{{  url_for('contactUs')  }}" class="btn btn-light">Contact Us</a></li>
              </ul>
              <p class="text-center text-body-secondary">&copy; 2023 Nxt Services Pty Ltd</p>
            </footer>
          </div>

        <script src="{{  url_for('static', filename='js/bootstrap.min.js')  }}"></script>
        <script src="{{  url_for('static', filename='js/js.js')  }}"></script>
    </body>
</html>