{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static\img\personalTax.png" alt="Personal Tax">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Fix up your Personal Tax</h1>
            <p class="opacity-75">Starting at $100 per tax return, we can make it easy for you!</p>
            <p><a class="btn btn-lg btn-success" href="{{  url_for('personal')  }}">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static\img\businessTax.png" alt="Business Tax">
        <div class="container">
          <div class="carousel-caption">
            <h1>Business Tax confusing?</h1>
            <p>Not only can we deal with your personal tax, we can make sure your business tax is just as easy.</p>
            <p><a class="btn btn-lg btn-success" href="{{  url_for('business')  }}">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static\img\shakingHands.png" alt="Contact Us">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Already heard enough?</h1>
            <p>Want to talk to us, click the button below and we can get started.</p>
            <p><a class="btn btn-lg btn-success" href="{{  url_for('contactUs')  }}">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <h2 class="featurette-heading">Let us deal with the BS!</h2>
      <h3 class="text-body-secondary">(business services)</h3>
      <p class="lead">100% owned and operated in Australia specialising in accounting and tax</p>
      <p>Have more time to get to you know us?</p>
      <a href="{{  url_for('aboutUs')  }}"><button class="btn btn-lg btn-success">About Us</button></a>
    </div><!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 px-3">
          <h2 class="featurette-heading fw-normal lh-1">Fully Remote!</h2>
          <p class="lead">100% remote to make costs cheaper for you, and allow us to service more of you!</p>
          <p class="lead">Check out how we do it!</p>
          <a href="{{  url_for('personal')  }}" class="mx-3"><button class="btn btn-lg btn-success">Personal Tax</button></a>
          <a href="{{  url_for('business')  }}" class="mx-3"><button class="btn btn-lg btn-success">Business Tax</button></a>
        </div>
        <div class="col-md-5">
          <img src="static\img\aus.png" class="rounded-4 shadow" width="100%" height="100%">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
        </div>
      </div>
  
      <hr class="featurette-divider"> 
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->

    {% include "contact-form.html" %}

{% endblock %}